// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary   : #6b63f1
$primary   : #0083C9
$secondary : #253579
$accent    : #865B7B

$dark      : #181725

$positive  : #559880
$negative  : #f44336
//$info      : #253579
$info      : #E6F4FF
$warning   : #d38848
